/* Set box-sizing to border-box for all elements */
* {
    box-sizing: border-box;
}

/* Set background color and font properties for body */
body {
    font-family: 'Roboto', sans-serif;
}

/* Center container and its contents vertically and horizontally */
/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
} */

/* Add spacing between buttons and style */
button {
    background-color: #18b6f6;
    color: #fff;
    font-size: 14px;
    /* font-weight: bold; */
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

button:hover {
    background-color: #0059cc;
    /* Darken button color on hover */
}

/* Style input and textarea fields */
input[type="text"],
textarea {
    background-color: #f5f5f5;
    /* Light gray background */
    border: 1px solid #ac7ff4;
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
    margin-top: 20px;
    width: 100%;
}

/* Style input file field */
input[type="file"] {
    margin-top: 20px;
}

/* Style select dropdown */
select {
    border: 1px solid #ac7ff4;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    background-color: #f5f5f5;
    /* Light gray background */
    width: 100%;
    margin-top: 20px;
    color: #a4a4a4;
}

select#description-options {
    width: 100%;
}

/* Style labels */
label,
h1 {
    display: block;
    /* font-weight: bold; */
    font-size: 50px;
    margin-top: 20px;
    font-weight: 400;
    padding-left: 5px;
    color: rgb(244, 87, 113);
}

button#download-btn {
    background-color: #18b6f6;
}

button#self-author {
    background: #5ae25a;
}

/* Style book pages section */
/* #book-pages {
    width: 100%;
}

#book-pages>div {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
} */

/* Set max width and responsive image properties */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

button[disabled]:hover {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Menu.module.css */
nav {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    height: 40px;
    width: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin: 0;
    padding: 0;
}

li {
    margin: 0 10px;
}

a.menu-a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}

a:hover {
    color: rgb(220, 2, 71);
}

footer p {
    text-align: center;
    color: #ccc;
}

h1.logo-name {
    padding-right: 25px;
    padding-left: 5px;
    color: white;
    font-weight: 300;
    font-size: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px 5px 5px 5px;
    padding: 20px;
    background: rgb(220, 2, 71);
}

/* book page */
.styles\.pageContent {
    background: #f1f1f1;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 15px;
}

.styles\.pageContent h2 {
    font-size: 13px;
    color: rgb(255 51 116);
    float: right;
}

.styles\.pageContent p {
    font-size: 25px;
}

p.styles\.bookDescription {
    background: rgb(255 51 116);
    color: rgb(92, 92, 92);
    padding: 10px;
}

body {
    background: linear-gradient(to right, #151934, #2f3c6e);
    color: #ffffff;
    overflow-x: hidden;
}

img.logo-image {
    border: 1px solid #c1c32b75;
}


label,
h1 {
    font-size: 5rem;
    font-weight: 300;
    background: linear-gradient(231deg, rgb(24, 182, 246), rgb(73, 208, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 3px rgb(29 82 231 / 10%);
}

/* #ac7ff4 */

button:hover {
    background: rgb(255 51 116);
}

a.menu-a {
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.1s ease;
    margin-left: 10px;
    font-weight: 400;
    -webkit-text-fill-color: #f1f1f1c4;
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

a.menu-a:hover {
    color: rgb(255 51 116);
}

.menu-nav {
    position: relative;
}

.logo-image {
    position: absolute;
    top: 0;
    right: 0;
    /* Adjust the height as needed */
    width: auto;
    margin: 10px;
    width: 245px;
    height: 138px;
}

/* This media query applies styles for screens with a max-width of 767px, typically mobile devices */
@media (max-width: 767px) {
    .logo-image {
        height: 60px;
        /* Smaller height for mobile devices */
        position: relative;
        margin-right: 20px;
        font-size: 18px;
    }

    a.menu-a {
        color: #ac7ff4;
        font-size: 11px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-weight: 400;
        margin: 1px;
    }

    a.menu-a:hover {
        color: #ffffff;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-weight: 400;
    }

    label,
    h1 {
        display: block;
        /* font-weight: bold; */
        font-size: 30px;
        margin-top: 45px;
    }

    .logo-image {
        width: 144px;
        height: 80px;
        margin-top: 43px;
    }
}

.ShareButtons_shareButtons__Y_Yiu {
    font-size: 35px;
    margin-top: 25px;
}

svg.svg-inline--fa.fa-twitter,
svg.svg-inline--fa.fa-facebook,
svg.svg-inline--fa.fa-linkedin {
    color: #fff;
}


p.AllBook_description__g8byP,
body {
    font-size: 25px;
    font-weight: 200;
    color: #5e5e5e;
}

.AllBook_bookContainer__J_s2_,
.styles\.pageContent {
    position: relative;
    margin: 1rem;
    border: 2px solid rgba(240, 240, 240, 0.499);
    border-radius: 4px 4px 4px 4px;
    padding: 1rem;
    background: #fff;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

h2,
h2 a {
    font-size: 3rem;
    font-weight: 300;
    background: linear-gradient(231deg, rgb(24, 182, 246), rgb(73, 208, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 3px rgb(29 82 231 / 10%);
}

.styles\.pageContent img {
    background: white;
    position: relative;
    margin: 1rem;
    border: 2px solid rgba(240, 240, 240, 0.499);
    border-radius: 4px 4px 4px 4px;
    padding: 1rem;
    background: #fff;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

p.styles\.bookDescription {
    background-color: transparent;
    color: #ffffff;
}

h1.styles\.bookTitle {
    max-width: 980px;
}